body{
  background-color: #22254b;
}
.app-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-container{
  width: 250px;

  border-radius: 5px;
  color: aliceblue;
  margin: 10px;
  justify-content: center;
  background-color: rgb(79, 79, 121);
}

.movie-container img{
  max-width: 100%;
}

.movie-info{
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.movie-info h4{
  margin: 0;
}

.movie-info span{
  margin: 3px;
}